<div class="container">



    <div class="about">
        <h3>Informacion Personal</h3>

        <div class="text">
            Mi nombre es Marcos Alberto Moroyoqui Olan, alumno de ingeniería en Ciencias Computacionales. Me gusta describirme como una persona interesada en aprender y que le gusta encontrar retos.  Encuentro satisfacción en resolver aquellos problemas que ocurren, y disfruto el sentimiento de satisfacción después de que encuentro como resolver aquellos problemas a los que me enfrento. 
        </div>

        <div class="list">

            Dentro de mis gustos personales podemos encontrar:
            

            <li>	Música Japonesa (J-Rock, J-Pop)</li>
            <li>	Leer Novelas Ligeras (japonesas)</li>
            <li>	Resolver Problemas</li>
            <li>	Leer Webtoons</li>
            <li>	Programar (Aunque por momentos se vuelve tedioso)</li>
            <li>	El Hardware (En algún momento tendré tirada una 4090 por ahí para jugar al tetris , me conozco)</li>
            <li>	El Audio Hi-Fi (Me puse a ver muchos videos y no pude salir D: )</li>

        </div>

        <div class="list">
            Habilidades o Tecnologías:


            <li>	Angular (Desarrolle este sitio en Angular Junto con Scully además de otras apps) </li>
            <li>	Docker (Tengo nociones básicas)</li>
            <li>	Linux (Nociones básicas, pero sin miedo a moverle)</li>
            <li>	TypeScript / JavaScript</li>
            <li>	Kotlin (Por ahí desarolle una App para android donde scrappeaba capítulos de Mangas y Animes esta chafita, pero la utilizo a diario)</li>
            <li>	SQL (DELETE  FROM TABLE executed (Olvide el Where D:))</li>
            <li>	Python (Si)</li>
            <li>	Cualquier cosa que me habientes solo déjame investigar un poco y le entro</li>

        </div>

        <div class="text">
            Tiendo a sufrir mucho del síndrome del impostor, ya que no creo tener habilidades excepcionales en nada, sin embargo, creo que en cualquier cosa a la que me enfrente tendré la capacidad para investigar y entregar un producto satisfactorio. También tiendo a sobredimensionar o pensar las cosas demasiado complicándome la existencia, lo que me suele llevar a estrésame por momentos, pero nada que una buena rolita no calme. Me suelo exigir mucho, y espero que me exijan de la misma manera, aunque me queje.
        </div>

        <div class="postdata">
            • PD (Adopteme en Amazon, aunque siento que me hacen alta habilidades para poderle entrar a algo así, me gustaría aprender lo suficiente para poder llegar ahí en algún momento)  <br>
            • PD2 Gracias por darnos la clase, la disfruto mucho  c:
        </div>

        
    </div>


    <div class="work">
        
        <h3> Experiencia Laboral</h3>

        <div>
            Practicas Profesionales : Maxon   
           <div>Duración: 6 meses  </div> 
            <div>Actividades Realizadas:<br> Desarollo de un sistema de inventario para el uso y seguimiento de prestamo de material </div> 
        </div>

        <div>
            Trabajo Actual : Paldi  
           <div>Duración: Enero 2022 -> Actualidad  </div> 
            <div>Actividades Realizadas:<br> 
                • Mantenimiento y desarollo para un sistema web y herramienta interna de manejo de cotizaciones para cortinas
            </div> 
            <div>Responsabilidades:<br> 
                • Planeación y diseño de nuevas caracteristicas del sistema. <br>
                • Manejo de Droplets en Digital Ocean (Eso si cuenta el crear nuevos droplets y checar htop para ver porque estabamos siendo hakeados (Ataque por fuerza bruta D:)) <br>
                • Testing de la aplicación (Aveces hago TDD, y que sea lo que dios quiera) <br>
                • Integraciones con API's <br>
                • Manejo de Bases de Datos  (Eso sic rear nuevos registros propeidades a los registros de mongo D:)<br>
                • Deploys con Docker (Sip , solo ejecuto los comandos docker-compose up, build y stop)
            </div>

        </div>


    </div>

    <div class="references">
        <h3>Publicaciones</h3>

        <li><a href="http://revistaaristas.tij.uabc.mx/index.php/revista_aristas/article/view/244">
            Implementación de un Algoritmo Genético modificado para la solución al Problema del Agente Viajero | Mayo 2022
        </a></li>

        <li><a href="https://www.spiedigitallibrary.org/conference-proceedings-of-spie/12225/122250C/Exploring-the-importance-of-pooling-schemes-for-convolutional-neural-networks/10.1117/12.2633122.short">
            Exploring the importance of pooling schemes for convolutional neural networks in hiragana character classification | October 2022
        </a></li>

        <li><a href="https://dl.acm.org/doi/abs/10.1145/3565494.3565500">
            SmarTasko: Supporting short and spontaneous activities of daily living of ADHD individuals | November 2022
        </a></li>

        


    </div>

   

</div>
