.homework-container{
    padding: 15vh;
    max-width: 60vw;
}


.question{
    margin-bottom: 5vh;
    margin-top: 5vh;
    

}

.text{
    color: var(--shadow);
    font-size: 1.5rem;
    
    margin-bottom: 2vh;
    margin-top: 2vh;
    text-align: justify;
}

.title{
    color: var(--accent);
}

.answer{
    display: flex;
    flex-direction: column;
  
}


.header{
    display: flex;
    align-items: center;
    padding-left:15vh;
    padding-top: 15vh;  
}

.text-title{
    color: var(--primary);
    font-size: 5rem;
}

.link{
    color: var(--shadow);
    font-size: 1.5rem;
    margin-bottom: 2vh;
    margin-top: 2vh;
    text-align: justify;
    text-decoration: underline;
}

.btn{
    color: var(--light);
    background-color: var(--accent);
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 1rem;

}

.img{
    display: flex;
    max-width: 60vw;
    flex-direction: column;
  
}

.image{
    width: auto;
    height: auto;
    max-width: 100%;
    

}

.subtitle{
    color: var(--accent);
    font-size: 2rem;

}

.helper-container{
    display: flex;
    align-items: center;
}