.main-container{
    display: flex;
    width: 100vw;
    height: 100vh;
 
    background-color: black;
  
}

.sidebar {
 
    width: 20vw;
    height: 100vh;
    background-color: gray;
    vertical-align: top;
}

.content{

    width: 80vw;
    height: 100vh;
    vertical-align: top;
    background-color: var(--background);
    overflow-y: scroll;
}


