

<h2>ICE191 - Sistemas de Arquitectura Abierta</h2>
<h3>Todos Sabemos que es cloud computing a nadie vamos a engañar</h3>




<span>Pasele a lo barrido -> Pagina en construcción</span>


<div>
    <span>Una Playlist De Mientras</span>

       <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6MfVRZkz1u4VFOrahEVBqf?utm_source=generator" 
        width="100%" height="450" frameBorder="0" allowfullscreen="" 
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
        </iframe> 
</div>
