<div class="sidenav">

    <div class="header">


        <div class="simple-container">
        <div class="android-like-container">
        
            <div class="text-container">
                
                <h4 class="text"> marcos.moroyoqui@cetys.edu.mx </h4>
            </div>
           
            <div class="text-container">
             
                <h4 class="text">030934</h4>
                
            </div>
            <div class="text-container">
                <h4 class="text">Marcos Alberto Moroyoqui Olan</h4>
             
            </div>
           
       
        
       
        </div>
  
        </div>
        
    </div>

    <div class="content">
        
        <div class="sidebar-links">
            


            <div class="collapsible-accordion" *ngFor="let link of links">

                
                <a class="simple-item" *ngIf="link.type=='single'" [routerLink]="link.link">  {{link.title}}</a>
            

                <div class="collapsible-item" *ngIf="link.type=='multiple'">
                    <input type="checkbox" id="tab{{link.title}}">
                    <label class="collapsible-item-label" for="tab{{link.title}}">{{link.title}} </label>
                    <div class="collapsible-item-content" >
                    <div *ngFor="let child of link.childs">
                        <a class="secondary-item" [routerLink]="[link.link + child['resource-id']]"> {{child.title}}</a>
                        <br>
                    </div>
                    </div>
                  </div>

            </div>
    
            

           
        </div>
        <div class="social">
            <a href="https://www.linkedin.com/in/marcos-alberto-moroyoqui-olan-2ba0b8108/"><i   class="fa fa-linkedin icons" ></i></a>
            <a href="https://github.com/ManmadeArc"><i  h class="fa fa-github icons" ></i></a>
            <a href="https://www.researchgate.net/profile/Marcos-Moroyoqui-Olan"><i   class="fa fa-flask icons"></i></a>
        </div>
    </div>

</div>